{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
    Index
    {{ super() }}
{% endblock %}
{% block page_context %}
    <div class="container theme-showcase" role="main">
      <div class="jumbotron">
        <h1>Base Security</h1><p>Author by {% if name  %}{{ name }}{% else %}Nsfocus{% endif %}</p>
        <p>NSFOCUS helps secure the world’s largest banks, telecommunications companies,
            mobile operators, social media companies, service providers, gaming, and content provider companies.</p>
      </div>
{{ wtf.quick_form(form) }}
{% endblock %}